@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap'); 

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.fraunces {
    font-family: 'Fraunces', serif;
}

.bold {
    font-weight: 700;
}

.mobile { 
    display: none;
}

.desktop {
    display: block;
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    margin-bottom: 10px;
    bottom: 0;
}

  .attribution a {
    color: hsl(228, 45%, 44%);
}

  body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2e9e2;
  }

  .card {
    height: 458px;
    width: 630px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border-radius: 20px;
  }

  .card img {
    height: 458px;
    border-radius: 20px 0 0 20px;
    grid-column: span 1 / span 1;
  }

  .content {
    grid-column: span 1 / span 1;
    padding: 25px 40px;
  }

  .content > h1 {
    color: hsl(212, 21%, 14%);
    line-height: 2rem;
  }

  .content > p {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
  }

  .desc {
    line-height: 1.5rem;
  }

  .prices {
    display: flex;
    align-items: center;
  }

  .prices > h1 {
    color: #3E8068;
  }

  .prices > p {
    margin-left: 10px;
    font-size: 12px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
  }

  button{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    background-color: #3E8068;
    color: #ffffff;
    border: none;
  }

  button:hover {
    background-color: #1A4031;
  }

button > img {
    height: 14px;
    width: 14px;
    object-fit: contain;
    margin-right: 10px;
}

@media (min-width:375px) and (max-width: 767px) {
    .desktop {display: none;}
    .mobile{display: block;}
    .card {
        width: 360px;
        height: 625px;
        display: flex;
        flex-direction: column;
    }
    .card img {
        height: auto;
        border-radius: 20px 20px 0 0;
    }
    .content{
        padding: 15px 32px;
    }
    .content > p {
        margin: 8px 0;
    }
    .content > h1 {
        margin: 8px 0;
    }
    .prices > h1{
        margin: 18px 0;
    }
}

@media (max-width: 374px) {
    .desktop {display: none;}
    .mobile{display: block;}
    .card {
        width: 250px;
        height: 475px;
        display: flex;
        flex-direction: column;
    }
    .card img {
        height: auto;
        border-radius: 20px 20px 0 0;
    }
    .content{
        padding: 15px 32px;
    }
    .content > p {
        margin: 8px 0;
        font-size: xx-small;
        line-height: 1rem;
    }
    .content > h1 {
        margin: 8px 0;
        font-size: larger;
        line-height: 1.5rem;
    }
    .prices > h1{
        margin: 14px 0;
        font-size: large;
    }
    .prices > p{
        font-size: x-small;
    }
    button {
        height: 40px;
        font-size: x-small;
    }
}